       h1, h2  {
          color: green;
          font-weight: bold;
          text-align: center;
	   }
         .past {
	  color:green
	  }
	.present {
	  color:yellow
	  }
	  .future {
	  color:blue
	  }
	
	</style>